.form-body {
  padding: 20px;
  .form {
    margin-bottom: 20px;
    .link {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: none;
      }
      &:visited {
        text-decoration: none;
      }
    }
  }
}
